div{
    justify-content: center;
    display: flex;
    position: relative;
    margin-bottom: 1rem !important;
}
#box {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border: 2px solid #f00;
}
button {
    margin: 0 1rem;
}
img{
    width: 30px;
    height: 30px;
    position: absolute;
}
img:nth-of-type(1) {
    left: 0;
    top: 135;
}
img:nth-of-type(2) {
    top: 0;
}
img:nth-of-type(3) {
    right: 0;
    top: 135;
}